<!DOCTYPE html>
<html>
    <div class="left">
        <input value="Assembly" class="la" type="button" onclick="Assembly();"/>
        <input value="C" class="lan" type="button" onclick="C();"/>
        <input value="C++" class="la" type="button" onclick="C++();"/>
        <input value="C#" class="lan" type="button" onclick="C#();"/>
        <input value="Python" class="lan" type="button" onclick="Python();"/>
        <input value="Java" class="la" type="button" onclick="Java();"/>
        <input value="HTML" class="lan" type="button" onclick="HTML();"/>
        <input value="CSS" class="la" type="button" onclick="CSS();"/>
        <input value="JavaScript" class="lan" type="button" onclick="JavaScript();"/>
        <input value="PHP" class="la" type="button" onclick="PHP();"/>
        <input value="SQL" class="lan" type="button" onclick="SQL();"/>
    </div>
</html>